body {
    max-width: 1440px;
    font-family: 'Inika', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EDF2EC;
    /* max-height: 134px; */
}

.wrapper-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1220px;
    /* max-height: 50px; */
    padding-top: 40px;
    margin-bottom: 13px;
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 452px;
    /* max-height: 50px; */
    margin-bottom: 30px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-top: 2px;
}

.navigation-item {
    display: inline;
    margin-right: 46px;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
}

.navigation-item:last-child {
    margin: 0;
}

.navigation-link {
    text-decoration: none;
    color: #010201;
}

.navigation-item a:hover {
    color: #E06733;
    font-weight: 700;
}

.logo {
    display: flex;
    line-height: 20.85px;
    margin-right: 692px;
    margin-bottom: 28px;
}

.logo img {
    position: relative;
    top: -4px;
}

.site-name {
    font-weight: 400;
    font-size: 16px;
    padding-right: 10px;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-height: 532px; */
    background-color: #EDF2EC;
}

.welcome-wrapper {
    margin-bottom: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1222px;
    /* max-height: 407.36px; */
    padding-top: 62px;
}

.leafs {
    max-width: 448.8px;
    max-height: 407.36px;
    margin-right: 224px;
}

.welcome-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 549px;
    /* max-height: 340px; */
}

.sp-description {
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #717171;
    margin: 0 auto;

}

.green-w {
    color: #499A18;
}

.div-title {
    max-width: 549px;
    /* max-height: 101px; */
    margin-bottom: 45px;
}

.long-description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    max-width: 525.44px;
    /* max-height: 105px; */
    color: #636060;
    margin-bottom: 48px;
}

.p-description {
    margin: 0 auto;
}

.learn-more {
    padding: 14px 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 158px;
    max-height: 44px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid #E06733;
    border-radius: 10px;
    color: #000000;
    background-color: #EDF2EC;
}

.learn-more:hover,
.service-b:hover,
.call-us:hover {
    cursor: pointer;
    transform: translateY(1px);
    box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-height: 666px; */
    background: #FFFFFF;
}

.about-wrapper {
    padding-top: 93px;
    margin-bottom: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1222px;
    /* max-height: 479px; */
}

.about-us-desc {
    padding-top: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 605px;
    /* max-height: 350px; */
    margin-right: 153px;
}

.about-us-title {
    margin-bottom: 40px;
    max-width: 463px;
    /* max-height: 102px; */
}

.au-h2 {
    margin: 0;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.about-orange {
    color: #E06733;
}

.about-us-description-full {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    max-width: 605px;
    max-height: 208px;
}

.abu-description {
    margin: 0;
}

.houseplant {
    max-width: 464px;
    max-height: 479px;
}

/* Service section starts */

.service {
    /* padding-top: 5px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    /* max-height: 1300px; */
    background: #EDF2EC;
}

.service-wrapper {
    padding-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1007px;
    /* max-height: 94px; */
}

.service-title {
    max-width: 306px;
    /* max-height: 94px; */
    display: flex;
    /* padding-bottom: 7px; */
}

.service-h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin: 0;
}

.service-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 559px;
    /* max-height: 50px; */
    padding-top: 7px;
}

.service-b {
    /* padding: 12px 40px; */
    margin-right: 38px;
    width: 161px;
    height: 50px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #EDF2EC;
}

.service-b:last-child {
    margin: 0;
}

.services-main {
    max-width: 1222px;
    /* max-height: 955px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 120px;

}

.service-item {
    max-width: 330px;
    /* max-height: 450px; */
    display: flex;
    flex-direction: column;
}

.si-second-line {
    margin-bottom: 55px;
}

/* .card-pic {
    padding-top: 2px;
} */

.text {
    box-sizing: border-box;
    max-width: 330px;
    /* max-height: 100px; */
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 27px; */
    justify-content: space-evenly;
}

.title-services-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    /* margin: 0; */
    /* padding-bottom: 4px; */
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 12px;

}

.desc-service-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-bottom: 36px;
    margin-top: 0;
}

.n2lc {
    padding-right: 4px;
}

/* Service section ends */

/* Prices section starts */

.prices {
    /* max-height: 560px; */
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.prices-wrapper {
    padding-top: 40px;
    margin-bottom: 115px;
    max-width: 1222px;
    /* max-height: 405px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* align-content: space-between;
    align-items: flex-end;
    flex-direction: column;  */
}

.prices-box {
    max-width: 332px;
    margin-right: 438px;
}

.prices-title {
    max-width: 135px;
    /* max-height: 49px; */

    padding-bottom: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin: 0;
}

.prices-item {
    display: flex;
    justify-content: center;
    max-width: 332px;
    /* max-height: 282px; */
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    box-sizing: border-box;
}

.p-items {
    margin: 34px 41px 34px 41px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    /* max-height: 214px; */
}

.item-basics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    /* max-height: 214px; */
    background: #EDF2EC;
    border-radius: 20px;
}

.ibp1 {
    margin-bottom: 28px;
    margin-top: -1px;
}

.ibp2 {
    margin-bottom: 30px;
    margin-top: 1px;
}

.p-item-text {
    max-width: 100px;
    margin: 16px 64px 16px 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.p-button {
    margin-right: 40px;
    border: none;
    height: 16px;
    width: 16px;
    background: url(../assets/svg/accordion_btn.svg) no-repeat;
}

.text-call-us {
    /* margin-bottom: 438px; */
    max-width: 452px;
    /* max-height: 191px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.our-best {
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.call-us {
    /* margin-bottom: 41px; */
    padding: 11px 33px 11px 32px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.prices-leafs {
    margin-top: -167px;
    /* max-width: 152px;
    max-height: 174px; */
}

/* Prices section ends */

/* Contacts section starts */

.contacts {
    /* max-height: 550px; */
    display: flex;
    justify-content: space-around;
    background: #EDF2EC;
    margin-bottom: 3px;
}

.contact-woman {
    padding-top: 51px;
    padding-left: 75px;
    margin-right: 47px;
}

.contacts__title {
    /* max-height: 51px; */
    margin-right: 10px;
    padding-top: 59px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    /* margin: 0; */
    margin-top: 0;
    margin-bottom: 0;
}

.contacts__container {
    padding-bottom: 2px;
    margin-right: 75px;
    margin-top: 146px;
    display: flex;
    align-items: center;
    max-width: 450px;
    max-height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.contacts__container__text {
    margin: 0;
    padding-left: 20px;
    padding-right: 142px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}

.contacts__container__accbutton {
    background: url(../assets/svg/accordion_btn.svg) no-repeat;
    height: 16px;
    width: 16px;
    padding-right: 47px;
    margin-left: 193px;
    border: none;
}

/* Contacts section ends */

/* Footer starts */

.footer {
    max-height: 130px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.footer__container {
    padding-top: 40px;
    margin-bottom: 40px;
    display: flex;
    max-width: 1222px;
    max-height: 50px;
}

.footer__container-data {
    margin-right: 324px;
    display: flex;
    max-width: 182px;
    max-height: 50px;
}

.data__copyright {
    margin: 0;
    margin-right: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.footer__container-rsschool {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 317px;
    max-width: 211px;
    max-height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.footer__container__social-links img {
    width: 32px;
    height: 32px;
}

.footer__container-social-links {
    max-width: 188px;
    max-height: 50px;
    align-items: center;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-links__link {
    display: inline;
    margin-right: 20px;
}

.social-links__link:last-child {
    margin: 0;
}

.data-link {
    text-decoration: none;
    color: inherit;
}

.dc-github a:hover,
.footer__container-rsschool a:hover {
    color: #499A18;
}

.social-links__link:hover {
    transform: scale(1.15);
}

.service-item:hover {
    transform: scale(1.01);
}

/* Footer ends */