body {
    max-width: 1440px;
    font-family: 'Inika', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Header starts */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EDF2EC;
}

.wrapper__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1220px;
    padding-top: 40px;
    margin-bottom: 13px;
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 452px;
    margin-bottom: 30px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-top: 2px;
}

.nav__list-item {
    display: inline;
    margin-right: 46px;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
}

.nav__list-item:last-child {
    margin: 0;
}

.nav__list-link {
    text-decoration: none;
    color: #010201;
}

.nav__list-item a:hover {
    color: #E06733;
    font-weight: 700;
}

.header__info {
    display: flex;
    line-height: 20.85px;
    margin-right: 692px;
    margin-bottom: 28px;
}

.header__info img {
    position: relative;
    top: -4px;
}

.header__info-name {
    font-weight: 400;
    font-size: 16px;
    padding-right: 10px;
}

/* Header ends */

/* Welcome section starts */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF2EC;
}

.welcome__wrapper {
    margin-bottom: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1222px;
    padding-top: 62px;
}

.welcome__leafs {
    max-width: 448.8px;
    max-height: 407.36px;
    margin-right: 224px;
}

.welcome__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 549px;
}

.welcome__description-h1 {
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #717171;
    margin: 0 auto;
}

.green-w {
    color: #499A18;
}

.welcome__description-title {
    max-width: 549px;
    margin-bottom: 45px;
}

.welcome__description-long {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    max-width: 525.44px;
    color: #636060;
    margin-bottom: 48px;
}

.welcome__description-p {
    margin: 0 auto;
}

.welcome__description-learn-more {
    padding: 14px 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 158px;
    max-height: 44px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid #E06733;
    border-radius: 10px;
    color: #000000;
    background-color: #EDF2EC;
}

.welcome__description-learn-more:hover,
.service__buttons-item:hover,
.prices__contact-button:hover {
    cursor: pointer;
    transform: translateY(1px);
    box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
}

/* Welcome section ends */

/* About section starts */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

.about__wrapper {
    padding-top: 93px;
    margin-bottom: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1222px;
}

.about__description {
    padding-top: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 605px;
    margin-right: 153px;
}

.about__description-title {
    margin-bottom: 40px;
    max-width: 463px;
}

.about__description-h2 {
    margin: 0;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.about__description-orange {
    color: #E06733;
}

.about__description-long {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    max-width: 605px;
    max-height: 208px;
}

.about__description-p {
    margin: 0;
}

.about__houseplant {
    max-width: 464px;
    max-height: 479px;
}

/* About section ends */

/* Service section starts */

.service {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    background: #EDF2EC;
}

.service__wrapper {
    padding-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1007px;
}

.service__title {
    max-width: 306px;
    display: flex;
}

.service__title-h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin: 0;
}

.service__buttons {
    display: flex;
    justify-content: space-between;
    max-width: 559px;
    padding-top: 7px;
}

.service__buttons-item {
    margin-right: 38px;
    width: 161px;
    height: 50px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #EDF2EC;
}

.service__buttons-item:last-child {
    margin: 0;
}

.service__main {
    max-width: 1222px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 120px;
}

.service__main-item {
    max-width: 330px;
    display: flex;
    flex-direction: column;
}

.service__main-item:hover {
    transform: scale(1.01);
}

.service__main-item-sl {
    margin-bottom: 55px;
}

.service__main-card-description {
    box-sizing: border-box;
    max-width: 330px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.service__main-card-description-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 12px;

}

.service__main-card-description-long {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-bottom: 36px;
    margin-top: 0;
}

/* Service section ends */

/* Prices section starts */

.prices {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.prices__wrapper {
    padding-top: 40px;
    margin-bottom: 115px;
    max-width: 1222px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.prices__subscription-box {
    max-width: 332px;
    margin-right: 438px;
}

.prices__subscription-box-title {
    max-width: 135px;
    padding-bottom: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin: 0;
}

.prices__subscription-box-items {
    display: flex;
    justify-content: center;
    max-width: 332px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    box-sizing: border-box;
}

.subscription-box-items__wrapper {
    margin: 34px 41px 34px 41px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.prices__subscription-box-items-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    background: #EDF2EC;
    border-radius: 20px;
}

.prices__subscription-box-ibp1 {
    margin-bottom: 28px;
    margin-top: -1px;
}

.prices__subscription-box-ibp2 {
    margin-bottom: 30px;
    margin-top: 1px;
}

.prices__subscription-box-items-item-text {
    max-width: 100px;
    margin: 16px 64px 16px 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.prices__subscription-box-items-item-button {
    margin-right: 40px;
    border: none;
    height: 16px;
    width: 16px;
    background: url(../assets/svg/accordion_btn.svg) no-repeat;
}

.prices__contact-us {
    max-width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.prices__contact-us-long {
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.prices__contact-button {
    padding: 11px 33px 11px 32px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.prices__leafs {
    margin-top: -167px;
}

/* Prices section ends */

/* Contacts section starts */

.contacts {
    display: flex;
    justify-content: space-around;
    background: #EDF2EC;
    margin-bottom: 3px;
}

.contacts__contact-woman {
    padding-top: 51px;
    padding-left: 75px;
    margin-right: 47px;
}

.contacts__title {
    margin-right: 10px;
    padding-top: 59px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    /* margin: 0; */
    margin-top: 0;
    margin-bottom: 0;
}

.contacts__dropdown {
    padding-bottom: 2px;
    margin-right: 75px;
    margin-top: 146px;
    display: flex;
    align-items: center;
    max-width: 450px;
    max-height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.contacts__dropdown-text {
    margin: 0;
    padding-left: 20px;
    padding-right: 142px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}

.contacts__dropdown-button {
    background: url(../assets/svg/accordion_btn.svg) no-repeat;
    height: 16px;
    width: 16px;
    padding-right: 47px;
    margin-left: 193px;
    border: none;
}

/* Contacts section ends */

/* Footer starts */

.footer {
    max-height: 130px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.footer__wrapper {
    padding-top: 40px;
    margin-bottom: 40px;
    display: flex;
    max-width: 1222px;
    max-height: 50px;
}

.footer__data {
    margin-right: 324px;
    display: flex;
    max-width: 182px;
    max-height: 50px;
}

.footer__data-copyright {
    margin: 0;
    margin-right: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.footer__rsschool {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 317px;
    max-width: 211px;
    max-height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.footer__container__social-links img {
    width: 32px;
    height: 32px;
}

.footer__social-list {
    max-width: 188px;
    max-height: 50px;
    align-items: center;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer__social-list-item {
    display: inline;
    margin-right: 20px;
}

.social-links__link:last-child {
    margin: 0;
}

.footer__rsschool-data-link,
.footer__data-link {
    text-decoration: none;
    color: inherit;
}

.dc-github a:hover,
.footer__rsschool a:hover {
    color: #499A18;
}

.footer__social-list-item:hover {
    transform: scale(1.15);
}

/* Footer ends */