body {
    max-width: 1440px;
    font-family: 'Inika', sans-serif;
}

/* .header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EDF2EC;
    height: 134px;
} */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EDF2EC;
    height: 134px;
}

.wrapper-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    height: 50px;
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 452px;
    height: 50px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.navigation-item {
    display: inline;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
}

.navigation-link {
    text-decoration: none;
    color: #010201;
}

.navigation-item a:hover {
    color: #E06733;
    font-weight: 700;
}

.logo {
    display: flex;
    line-height: 20.85px;
}

.logo img {
    position: relative;
    top: -4px;
}

.site-name {
    font-weight: 400;
    font-size: 16px;
    padding-right: 10px;
}